* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  position: relative;
    overflow: hidden;
  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform:scale(2);
    z-index: 1;
  }
  .video_container{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform:scale(2);
    z-index: 1;
    opacity:0;

    .video-js{
        width:100%;
        height:100%;
    }
  }
  .background-black{
    position:absolute;
    inset:0;
    z-index:2;
    top:50%;
    transform: translateY(-50%);
    height: 60%;
    width: 100%;
    background-color: black;
  }
  .container-left {
    width: 100%;
    height: 100%;
    transform: translateY(-20%);

    background-color: white;
    clip-path: polygon( 0% 0%,0% 100%,100% 100%,100% 0%,0% 0%,97.128% 62.569%,89.007% 62.569%,89.007% 44.634%,89.007% 44.634%,88.98% 44.334%,88.901% 44.049%,88.775% 43.783%,88.605% 43.54%,88.397% 43.325%,88.154% 43.14%,87.881% 42.989%,87.582% 42.877%,87.262% 42.807%,86.924% 42.782%,77.404% 42.782%,77.404% 37.431%,83.59% 37.431%,97.128% 49.465%,97.128% 62.569% );

    transition: clip-path 0.7s cubic-bezier(.15,.79,.58,.84);
    z-index: 3;
  }
  .container-right{
    width: 100%;
    height: 100%;
    transform: rotate(180deg) translateY(-20%);
    background-color: white;
    clip-path: polygon( 0% 0%,0% 100%,100% 100%,100% 0%,0% 0%,97.128% 62.569%,89.007% 62.569%,89.007% 44.634%,89.007% 44.634%,88.98% 44.334%,88.901% 44.049%,88.775% 43.783%,88.605% 43.54%,88.397% 43.325%,88.154% 43.14%,87.881% 42.989%,87.582% 42.877%,87.262% 42.807%,86.924% 42.782%,77.404% 42.782%,77.404% 37.431%,83.59% 37.431%,97.128% 49.465%,97.128% 62.569% );

    transition: clip-path 0.7s cubic-bezier(.15,.79,.58,.84);
    z-index: 3;
  }

}





// .wrapper {
//     height: 100vh;
//     background-color: rgb(190, 209, 160);
//     display: flex;
//     position: relative;
  
//     img {
//       position: absolute;
//       inset: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
  
//       z-index: 1;
//     }
//     .container-left {
//       width: 100%;
//       height: 100%;
  
  
//       background-color: white;
//       clip-path: polygon( 0% 0%,0% 100%,100% 100%,100% 0%,0% 0%,97.128% 62.569%,89.007% 62.569%,89.007% 44.634%,89.007% 44.634%,88.98% 44.334%,88.901% 44.049%,88.775% 43.783%,88.605% 43.54%,88.397% 43.325%,88.154% 43.14%,87.881% 42.989%,87.582% 42.877%,87.262% 42.807%,86.924% 42.782%,77.404% 42.782%,77.404% 37.431%,83.59% 37.431%,97.128% 49.465%,97.128% 62.569% );
  
//       transition: clip-path 0.7s cubic-bezier(.15,.79,.58,.84);
//       z-index: 2;
//     }
//     .container-right{
//       width: 100%;
//       height: 100%;
  
//       transform: rotate(180deg);
//       background-color: white;
//       clip-path: polygon( 0% 0%,0% 100%,100% 100%,100% 0%,0% 0%,97.128% 62.569%,89.007% 62.569%,89.007% 44.634%,89.007% 44.634%,88.98% 44.334%,88.901% 44.049%,88.775% 43.783%,88.605% 43.54%,88.397% 43.325%,88.154% 43.14%,87.881% 42.989%,87.582% 42.877%,87.262% 42.807%,86.924% 42.782%,77.404% 42.782%,77.404% 37.431%,83.59% 37.431%,97.128% 49.465%,97.128% 62.569% );
  
//       transition: clip-path 0.7s cubic-bezier(.15,.79,.58,.84);
//       z-index: 2;
//     }
//     &:hover{
//       .container-left{
//           clip-path: polygon( 0% 0%,0% 100%,100% 100%,100% 0%,0% 0%,102.229% 99.932%,-4.149% 101.348%,-2.341% 55.958%,-2.341% 55.958%,-2.384% 55.543%,-2.507% 54.946%,-2.698% 54.22%,-2.946% 53.419%,-3.239% 52.596%,-3.567% 51.803%,-3.918% 51.094%,-4.282% 50.522%,-4.646% 50.14%,-5% 50.001%,-1.702% 40.167%,-5% -0.496%,85.957% -2.294%,100% 0%,102.229% 99.932% );
//       }
//       .container-right{
//           clip-path: polygon( 0% 0%,0% 100%,100% 100%,100% 0%,0% 0%,102.229% 99.932%,-4.149% 101.348%,-2.341% 55.958%,-2.341% 55.958%,-2.384% 55.543%,-2.507% 54.946%,-2.698% 54.22%,-2.946% 53.419%,-3.239% 52.596%,-3.567% 51.803%,-3.918% 51.094%,-4.282% 50.522%,-4.646% 50.14%,-5% 50.001%,-1.702% 40.167%,-5% -0.496%,85.957% -2.294%,100% 0%,102.229% 99.932% );
//       }
//     }
//   }