$full-height: 2;
$half-height: 1;

.universe-wrapper {
    background-color: rgb(224, 224, 224);
    min-height:100vh;
    max-width:940px;
    margin: 0 auto;
    .universe-filter{
        padding:20px 0;
        margin:0 10px;

        button{
            background-color: transparent;
            border: none;
            font-size: 20px;
            transition:all .2s ease-in-out;
            &:hover{
                color:white
            }
        }
    }

    .universe-row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap:10px;
        margin:10px;

        .img-container{
            overflow: hidden;   

            &:nth-child(15n + 1),
            &:nth-child(15n + 3),
            &:nth-child(15n + 5),
            &:nth-child(15n + 9),
            &:nth-child(15n + 11){
                grid-row: span $full-height;
            }
            &:nth-child(15n + 2),
            &:nth-child(15n + 4),
            &:nth-child(15n + 6),
            &:nth-child(15n + 7),
            &:nth-child(15n + 8),
            &:nth-child(15n + 10),
            &:nth-child(15n + 12),
            &:nth-child(15n + 13),
            &:nth-child(15n + 14),
            &:nth-child(15n + 15){
                grid-row: span $half-height;
            }

            img{
                height:100%;
                width: 100%;
                aspect-ratio:1/1;
                object-fit: cover;
                object-position: center;
                transform:scale(1.1);
                transition: transform .5s ease-in-out, filter 1s ease-in-out;
                filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(8deg) brightness(88%) contrast(110%);
                &:hover{
                    transform: scale(1);
                    filter: none;
                }
            } 
            &.hidden{
                opacity: 0;
            }
        }
    }
}
