html,
body {
  min-height: 100%;
}

.global_wrapper {
  margin: 0;
  font-size: 18px;
  font-family: "Rakkas", Verdana, sans-serif;
  background: #ffffff;
  line-height: 1.4;
  display: flex;
  gap: 30px;
}

/*** layout ***/
.ripples_wrapper {
  position: relative;
}

.content,
.contentTest {
  position: relative;
  z-index: 2;
  touch-action: none;
  aspect-ratio: 410/880;
  width: 400px;
  height: auto;

  .canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }
  .water-ripples {
    width: 100%;
    height: 100%;
    aspect-ratio: 400 / 858;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: none;
    }
  }
  .rippleButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.dg.ac {
  z-index: 3 !important;
}

/*** handling errors ***/

.no-curtains #water-ripples {
  display: flex;
  overflow: hidden;
}
.no-curtains #water-ripples img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.no-curtains #water-ripples-title h1 {
  opacity: 1;
}
