
*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

body{
    padding:50px 0;
}
.padding-100vh{
height:200vh;
}

.container{
    display:flex;
    justify-content:space-around;
}

/* IMAGES */
.container-image, .container-image2{
    height:600px;
    width:700px;
    overflow:hidden;
    position:relative;
}

.cache1-image__container-image, 
.cache1-image__container-image2{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background-color:white;
    z-index:10;
}
.cache2-image__container-image, 
.cache2-image__container-image2{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background-color:#f4f3f1;
    z-index:9;
}

.image{
    width:100%;
    height:100%;
    object-fit:cover;  
    transform:scale(1.3);
    filter: blur(50px);
}


/* TEXT */
  .title-split{
    font-size:42px;
  }
  .title-split2{
    font-size:32px;
  }