* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.videos-wrapper {
  position: relative;
  height: 100vh;

  #video-1 {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    backdrop-filter: invert(1);
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  #video-2 {
    position: absolute;

    height: 192px;
    width: 353px;
    aspect-ratio:192/353;
    right: 50px;
    bottom: 50px;
    overflow: hidden;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;

      // filter: blur(10px);

    }
  }

  #video-3 {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: invert(1);
    opacity:0;
    pointer-events: none;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  #video-4 {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: invert(1);
    opacity:0;
    pointer-events: none;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .fond-blanc{
    position:absolute;
    inset:0;
 
    background-color: white;
    pointer-events: none;
    opacity:0;
  }
  .close-video-2, .close-video-1{
    position:absolute;
    right:0;
    top:0;
    padding:15px;
    opacity:0;
    pointer-events: none;
  }
  .title-1{
    position: absolute;
    bottom:50px;
    left:50px;
    font-size:51px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .title-2{
    position: absolute;
    bottom:60px;
    right:60px;
    font-size:30px;
    font-family:sans-serif;
    color:white;
  }
}


/* z-index */
#video-1{z-index:10}
.title-1{z-index:20}

#video-2{z-index:20}
.title-2{z-index:30}

.fond-blanc{z-index:40}

#video-3{z-index:50}
#video-4{z-index:50}

.close-video-2, 
.close-video-1{z-index:60}
