  .wrapper_global {
    position: relative;
    height: 100vh;
    --thickness-menu: 40px;
    --thickness-content: 40px;

  .wrapper_content {
    position: absolute;
    inset: 0;
    z-index: 10;
    margin: var(--thickness-content);
    border: 3px solid var(--color-grey);
    background-color: var(--color-secondary);
    pointer-events: all;
  }
}

.section-look{
    display:grid;
    grid-template-columns: auto 1fr;
    height:100%;
    
    .wrapper-looks{
        height: 100%;
        position:relative;

        .grid_looks{
            display:grid;
            grid-template-columns: repeat(8,auto);
            grid-template-rows: repeat(6, auto);
            gap:6px;
            padding:6px;
            width:auto;
            height:100%;

            .container_looks{
                cursor: pointer;
                height:100%;
                width:100%;
                aspect-ratio: 67/138;
                border:1px solid transparent;
                position: relative;

                &.active{
                  border:1px solid var(--color-primary);
                }

                img{
                    position: absolute;
                    inset:0;
                    width:100%;
                    height: 100%;
                }
            }
        }
    }

    .wrapper-look{
      container-type: inline-size;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      --translateBefore: 0%;

      &::before{
        content:"";
        position: absolute;
        inset:0;
        z-index:2;
        background-color: var(--color-secondary);
        transform: translateY(var(--translateBefore));
      }
      .look_container{
        display: flex;
        height: 73cqh;
        // width: 37cqw;
        display:flex;
        gap:20px;
        position: relative;

        .image_container{
          aspect-ratio: 505 / 692;
          height: 100%;
          width: 100%;
          flex:1;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.5)
          }
        }
        .infos_container{ 
          flex:1;
          container-type: inline-size;
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom:0;
          right: -110%;
          width: 100%;
          color: var(--color-blue);
          .box{
            overflow: hidden;
          }
          .spacing{
            flex:1;
          }
          .look-name{
              font-size: 5.9cqw;
              font-weight:100;
              line-height: 1.6;
              transform: translateY(300%);
              opacity:0;
          }
          .look-video-button{
            transform: translateY(300%);
            opacity:0;

            button{
              background-color: transparent;
              border: none;
              cursor: pointer;
              
              svg{
                height: 25px;
                width: 25px;
                fill: var(--color-blue);
              }
            }
          }
          .infos-details{
            margin-top: 2cqh;

      
            .ref{
              font-size: 3.8cqw;
              line-height: 1;
              font-weight: 200;
              transform: translateY(300%);
              opacity:0;
            }
            .element-title{
              font-size: 4.6cqw;
              line-height: 1.4;
              font-weight: bold;
              transform: translateY(300%);
              opacity:0;
            }
            .type{
              font-size:4.3cqw;
              font-weight: 300;
              line-height: 1.2;
              transform: translateY(300%);
              opacity:0;
            }
            .wholesale-price{
              font-size: 3.8cqw;
              font-weight:200;
              line-height: 1.2;
              transform: translateY(300%);
              opacity:0;
            }
            .retail-price{
              font-size: 3.8cqw;
              font-weight:200;
              line-height: 1.2;
              transform: translateY(300%);
              opacity:0;
            }
          }
        }
      }
    }

    .wrapper-video{
      position: absolute;
      inset:0;
      background-color: white;
      opacity:0;
      pointer-events: none;
      
      .container-video{
        height:100%;
        opacity:1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-js{
        width:100%;
        height:100%;

           video{
             aspect-ratio: 16 / 9;
             background-color: var(--color-secondary);
           }
        }
        .close-button{
            position: absolute;
            top: 1%;
            right: 1%;
            height: 50px;
            width: 50px;
            z-index: 10;
            cursor: pointer;
            svg{
              fill: var(--color-primary)
            }       
        }
    }
  }
}