.wrapper_global {
  position: relative;
  height: 100vh;
  --thickness-menu: 40px;
  --thickness-content: 40px;
}
.wrapper_global .wrapper_content {
  position: absolute;
  inset: 0;
  z-index: 10;
  margin: var(--thickness-content);
  border: 3px solid var(--color-grey);
  background-color: var(--color-secondary);
  pointer-events: all;
}

.section-look {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}
.section-look .wrapper-looks {
  height: 100%;
  position: relative;
}
.section-look .wrapper-looks .grid_looks {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(6, auto);
  gap: 6px;
  padding: 6px;
  width: auto;
  height: 100%;
}
.section-look .wrapper-looks .grid_looks .container_looks {
  cursor: pointer;
  height: 100%;
  width: 100%;
  aspect-ratio: 67/138;
  border: 1px solid transparent;
  position: relative;
}
.section-look .wrapper-looks .grid_looks .container_looks.active {
  border: 1px solid var(--color-primary);
}
.section-look .wrapper-looks .grid_looks .container_looks img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.section-look .wrapper-look {
  container-type: inline-size;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  --translateBefore: 0%;
}
.section-look .wrapper-look::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: var(--color-secondary);
  transform: translateY(var(--translateBefore));
}
.section-look .wrapper-look .look_container {
  display: flex;
  height: 73cqh;
  display: flex;
  gap: 20px;
  position: relative;
}
.section-look .wrapper-look .look_container .image_container {
  aspect-ratio: 505/692;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.section-look .wrapper-look .look_container .image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.5);
}
.section-look .wrapper-look .look_container .infos_container {
  flex: 1;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: -110%;
  width: 100%;
  color: var(--color-blue);
}
.section-look .wrapper-look .look_container .infos_container .box {
  overflow: hidden;
}
.section-look .wrapper-look .look_container .infos_container .spacing {
  flex: 1;
}
.section-look .wrapper-look .look_container .infos_container .look-name {
  font-size: 5.9cqw;
  font-weight: 100;
  line-height: 1.6;
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-look .look_container .infos_container .look-video-button {
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-look .look_container .infos_container .look-video-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.section-look .wrapper-look .look_container .infos_container .look-video-button button svg {
  height: 25px;
  width: 25px;
  fill: var(--color-blue);
}
.section-look .wrapper-look .look_container .infos_container .infos-details {
  margin-top: 2cqh;
}
.section-look .wrapper-look .look_container .infos_container .infos-details .ref {
  font-size: 3.8cqw;
  line-height: 1;
  font-weight: 200;
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-look .look_container .infos_container .infos-details .element-title {
  font-size: 4.6cqw;
  line-height: 1.4;
  font-weight: bold;
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-look .look_container .infos_container .infos-details .type {
  font-size: 4.3cqw;
  font-weight: 300;
  line-height: 1.2;
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-look .look_container .infos_container .infos-details .wholesale-price {
  font-size: 3.8cqw;
  font-weight: 200;
  line-height: 1.2;
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-look .look_container .infos_container .infos-details .retail-price {
  font-size: 3.8cqw;
  font-weight: 200;
  line-height: 1.2;
  transform: translateY(300%);
  opacity: 0;
}
.section-look .wrapper-video {
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0;
  pointer-events: none;
}
.section-look .wrapper-video .container-video {
  height: 100%;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-look .wrapper-video .container-video .video-js {
  width: 100%;
  height: 100%;
}
.section-look .wrapper-video .container-video .video-js video {
  aspect-ratio: 16/9;
  background-color: var(--color-secondary);
}
.section-look .wrapper-video .container-video .close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  height: 50px;
  width: 50px;
  z-index: 10;
  cursor: pointer;
}
.section-look .wrapper-video .container-video .close-button svg {
  fill: var(--color-primary);
}/*# sourceMappingURL=style.css.map */