@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=MonteCarlo&family=Mrs+Saint+Delafield&family=Parisienne&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

body {
  overflow: hidden;
}

/* THEME style */
body {
  --color-primary: #292c35;
  --color-blue: #3E5068;
  --color-secondary: white;
  --color-grey: #D0D4DC;
  --color-primary-fade: rgba(0, 0, 0, 0.4);
  --color-pink: pink;
  --color-svg: invert(0);
}
body.dark {
  --color-primary: white;
  --color-secondary: #292c35;
  --color-blue: white;
  --color-grey: rgba(255,255,255,0.4);
  --color-primary-fade: rgba(255, 255, 255, 0.4);
  --color-pink: pink;
  --color-svg: invert(1);
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

.wrapper_global {
  position: relative;
  height: 100vh;
  --thickness-menu: 40px;
  --thickness-content: 0px;
}
.wrapper_global .wrapper_menu {
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: 20;
  pointer-events: none;
}
.wrapper_global .wrapper_menu .cm {
  position: absolute;
  background-color: var(--color-secondary);
}
.wrapper_global .wrapper_menu .cm--top {
  top: 0;
  left: 0;
  right: 0;
  height: var(--thickness-menu);
  transform: translateY(-100%);
}
.wrapper_global .wrapper_menu .cm--right {
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--thickness-menu);
  transform: translateX(100%);
}
.wrapper_global .wrapper_menu .cm--bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--thickness-menu);
  transform: translateY(100%);
}
.wrapper_global .wrapper_menu .cm--left {
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--thickness-menu);
  transform: translateX(-100%);
}
.wrapper_global .wrapper_menu .cm .nav {
  height: 100%;
  pointer-events: all;
}
.wrapper_global .wrapper_menu .cm .nav ul.menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.wrapper_global .wrapper_menu .cm .nav ul.menu .line-menu {
  list-style-type: none;
  overflow: hidden;
}
.wrapper_global .wrapper_menu .cm .nav ul.menu .line-menu a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-blue);
}
.wrapper_global .wrapper_menu .cm .nav--side ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper_global .wrapper_menu .cm .nav--top ul {
  padding: 0 var(--thickness-menu);
}
.wrapper_global .wrapper_menu .cm .nav--top .link-menu {
  transform: translateY(-100%);
}
.wrapper_global .wrapper_menu .cm .nav--bottom .link-menu {
  transform: translateY(100%);
}
.wrapper_global .wrapper_menu .cm .nav--right li {
  transform: rotate(90deg);
}
.wrapper_global .wrapper_menu .cm .nav--right li .link-menu {
  transform: translateY(-100%);
}
.wrapper_global .wrapper_menu .cm .nav--left li {
  transform: rotate(-90deg);
}
.wrapper_global .wrapper_menu .cm .nav--left li .link-menu {
  transform: translateY(-100%);
}
.wrapper_global .wrapper_menu .panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: calc(var(--thickness-content) + 3px);
  margin-bottom: 0px;
  background-color: var(--color-secondary);
  height: 0px;
  transition: height 1.5s cubic-bezier(0.16, 0.85, 0.19, 1);
  overflow: hidden;
}
.wrapper_global .wrapper_menu .panel .submenu {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  min-width: 200px;
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu {
  overflow-y: hidden;
  list-style-type: none;
  padding-left: 20px;
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu .link_wrapper {
  position: relative;
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu .link_wrapper:hover svg path {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: stroke-dashoffset 0.7s ease-in;
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu .link-submenu {
  text-decoration: none;
  color: var(--color-blue);
  transition: color 0.2s ease-in-out;
  font-size: 22px;
  font-weight: 300;
  transform: translateY(100%);
  display: inline-block;
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu .link-submenu.disabled {
  color: var(--color-primary-fade);
  pointer-events: none;
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu .link-submenu:hover {
  color: var(--color-pink);
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu svg {
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: -20px;
  pointer-events: none;
  height: 100%;
  width: calc(100% + 40px);
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu svg image {
  filter: var(--color-svg);
}
.wrapper_global .wrapper_menu .panel .submenu .line-submenu svg path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke-dasharray: 1110;
  stroke-dashoffset: 1110;
  stroke-width: 44px;
  opacity: 0;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories {
  width: 100%;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem {
  overflow: hidden;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link {
  position: relative;
  text-decoration: none;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translateY(100%);
  display: inline-flex;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link:hover svg path {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: stroke-dashoffset 0.7s ease-in;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link:hover .cs_title {
  color: var(--color-pink);
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link .cs_link_wrapper {
  position: relative;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link .cs_title {
  font-size: 22px;
  font-weight: 300;
  position: relative;
  transition: color 0.2s ease-in-out;
  color: var(--color-blue);
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link svg {
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: -20px;
  pointer-events: none;
  height: 100%;
  width: calc(100% + 40px);
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link svg image {
  filter: var(--color-svg);
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link svg path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke-dasharray: 1110;
  stroke-dashoffset: 1110;
  stroke-width: 44px;
  opacity: 0;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link .cs_squares {
  display: flex;
  align-items: center;
  gap: 2px;
}
.wrapper_global .wrapper_menu .panel .submenu--color-stories .cs_container .cs_elem .cs_link .cs_squares .square {
  height: 44px;
  width: 70px;
  border: 1px solid var(--color-primary);
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe {
  width: 100%;
  height: 100%;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  gap: 20px;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_link_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem:hover svg path {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: stroke-dashoffset 0.7s ease-in;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem:hover .mu_link {
  color: var(--color-pink);
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem .mu_link {
  text-decoration: none;
  color: var(--color-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
  transform: translateY(100%);
  display: inline-flex;
  padding: 0 20px;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem svg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem svg image {
  filter: var(--color-svg);
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_elem svg path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke-dasharray: 1110;
  stroke-dashoffset: 1110;
  stroke-width: 44px;
  opacity: 0;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_image_wrapper {
  height: 100%;
  aspect-ratio: 362/211;
}
.wrapper_global .wrapper_menu .panel .submenu--mens-universe .mu_container .mu_image_wrapper img {
  transition: opacity 0.2s ease-in-out;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 362/211;
}
.wrapper_global .wrapper_menu .panel-side {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: calc(var(--thickness-content) + 3px);
  background-color: var(--color-secondary);
  width: 0px;
  transition: width 1.1s cubic-bezier(0.16, 0.85, 0.19, 1);
}
.wrapper_global .wrapper_menu .panel-side .submenu {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu {
  list-style-type: none;
  text-align: right;
  overflow-y: hidden;
  padding: 0 20px;
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu .link_wrapper {
  position: relative;
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu .link_wrapper:hover svg path {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: stroke-dashoffset 0.7s ease-in;
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu .link-submenu {
  text-decoration: none;
  color: var(--color-blue);
  transition: color 0.2s ease-in-out;
  font-size: 22px;
  font-weight: 300;
  transform: translateY(100%);
  display: inline-block;
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu .link-submenu:hover {
  color: var(--color-pink);
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu svg {
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: -20px;
  pointer-events: none;
  height: 100%;
  width: calc(100% + 40px);
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu svg image {
  filter: var(--color-svg);
}
.wrapper_global .wrapper_menu .panel-side .submenu .line-submenu svg path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke-dasharray: 1110;
  stroke-dashoffset: 1110;
  stroke-width: 44px;
  opacity: 0;
}
.wrapper_global .wrapper_menu .checkbox {
  opacity: 0;
  position: absolute;
}
.wrapper_global .wrapper_menu .checkbox-label {
  background-color: transparent;
  border: 1px solid var(--color-blue);
  width: 47px;
  height: 17px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper_global .wrapper_menu .checkbox-label .ball {
  background-color: var(--color-blue);
  width: 12px;
  height: 12px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.wrapper_global .wrapper_menu .checkbox:checked + .checkbox-label .ball {
  transform: translateX(27px);
}
.wrapper_global .wrapper_content {
  position: absolute;
  inset: 0;
  z-index: 10;
  margin: var(--thickness-content);
  border: 3px solid var(--color-grey);
  background-color: var(--color-secondary);
  pointer-events: all;
}
.wrapper_global .wrapper_content .test {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}/*# sourceMappingURL=style.css.map */