@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=MonteCarlo&family=Mrs+Saint+Delafield&family=Parisienne&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  transition : background-color .2s ease-in-out, color .2s ease-in-out;
}
body {
  overflow: hidden;
}

/* THEME style */
body{
  --color-primary: #292c35;
  --color-secondary: white;
  --color-primary-fade: rgba(0,0,0,.4);
  --color-pink: pink;

  &.dark{
    --color-primary: white;
    --color-secondary: #292c35;
    --color-primary-fade: rgba(255,255,255,.4);
    --color-pink: pink;
  }
}

h1{
  color: var(--color-primary);
}
h2{
  color: var(--color-primary);
}
.wrapper_global {
  position: relative;
  height: 100vh;
  --thickness-menu: 40px;
  --thickness-content: 0px;

  .wrapper_menu {
    position: absolute;
    inset: 0;
    background-color: transparent;
    z-index: 20;
    pointer-events: none;

    .cm {
      position: absolute;
      background-color: var(--color-secondary);


      &--top {
        top: 0;
        left: 0;
        right: 0;
        height: var(--thickness-menu);
        transform: translateY(-100%);
      }
      &--right {
        top: 0;
        bottom: 0;
        right: 0;
        width: var(--thickness-menu);
        transform: translateX(100%);
      }
      &--bottom {
        bottom: 0;
        left: 0;
        right: 0;
        height: var(--thickness-menu);
        transform: translateY(100%);
      }
      &--left {
        top: 0;
        bottom: 0;
        left: 0;
        width: var(--thickness-menu);
        transform: translateX(-100%);
      }

      .nav {
        height: 100%;
        pointer-events: all;
        ul.menu {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: space-around;
          align-items: center;

          .line-menu {
            list-style-type: none;
            overflow: hidden;
            a {
              display: inline-block;
              text-decoration: none;
              color: var(--color-primary);
            }
          }
        }
        &--side {
          ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
        &--top {
          ul {
            padding: 0 var(--thickness-menu);
          }
          .link-menu {
            transform: translateY(-100%);
          }
        }
        &--bottom {
          .link-menu {
            transform: translateY(100%);
          }
        }
        &--right {
          li {
            transform: rotate(90deg);
            .link-menu {
              transform: translateY(-100%);
            }
          }
        }
        &--left {
          li {
            transform: rotate(-90deg);
            .link-menu {
              transform: translateY(-100%);
            }
          }
        }
      }
    }
    .panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: calc(var(--thickness-content) + 1px);
      background-color: var(--color-secondary);
      height: 0px;
      transition: height 0.3s ease-in-out;
      .submenu {
        pointer-events: none;
        position: absolute;
        opacity: 0;

        .line-submenu {
          list-style-type: none;
          .link-submenu {
            text-decoration: none;
            color: var(--color-primary-fade);
            transition: color 0.2s ease-in-out;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
        &--color-stories {
          width: 100%;
          
          .cs_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            gap:30px;
            .cs_elem{
              .cs_link{
                text-decoration:none;
                color: var(--color-primary);
                display: flex;
                align-items: center;
                gap:20px;

                .cs_title{
                  font-size:30px;
                }
                .cs_squares{
                  display: flex;
                  align-items: center;
                  gap:2px;
                  .square{
                    height:30px;
                    width: 50px;
                    border:1px solid var(--color-primary);
                  }
                }
              }
            }
          }
        }
        &--mens-universe {
          width: 100%;
          .mu_container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 10px;
            width: 100%;
            gap:10px;
            .mu_elem{
              width: 100%;
              .mu_link{
                text-decoration: none;
                color: var(--color-primary);
                width:100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .mu_img{
                  width:100%;
                  height:200px;
                  border:1px solid var(--color-primary);
                }
                .mu_title{
                  font-size:30px;
                }
              }
            }
          }
        }
      }
    }
    .panel-side {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: calc(var(--thickness-content) + 1px);
      background-color: var(--color-secondary);
      width: 0px;
      transition: width 0.3s ease-in-out;

      .submenu {
        position: absolute;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        .line-submenu {
          list-style-type: none;
          text-align: right;
          .link-submenu {
            text-decoration: none;
            color: var(--color-primary-fade);
            transition: color 0.2s ease-in-out;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }

    .checkbox {
      opacity: 0;
      position: absolute;
    }

    .checkbox-label {
      background-color: var(--color-primary);
      width: 90px;
      height: 20px;
      border-radius: 50px;
      position: relative;
      padding: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fa-moon {
      color: var(--color-secondary);
    }

    .fa-sun {
      color: var(--color-secondary);
    }

    .checkbox-label .ball {
      background-color: var(--color-secondary);
      width: 17px;
      height: 17px;
      position: absolute;
      left: 4px;
      top: 2px;
      border-radius: 50%;
      transition: transform 0.2s linear;
    }

    .checkbox:checked + .checkbox-label .ball {
      transform: translateX(65px);
    }
  }

  .wrapper_content {
    position: absolute;
    inset: 0;
    z-index: 10;
    margin: var(--thickness-content);
    // border: 1px solid var(--color-primary);
    background-color: var(--color-secondary);
    pointer-events: all;

    .test{
      height:100%;
      display:flex;
      flex-direction: column;
      padding:40px;
    }
  }
}


.encadrement{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


