.test{
height: 100vh;
background-color: black;
}
.matrixSection-image{
    position:relative;
    height:100vh;

    .container{
        position:absolute;
        inset:0;
        transform: scaleX(0.5)scaleY(0.5);
        transform-style: flat;
        overflow: hidden;
        transition: transform .5s ease-in-out;
        border-radius:15px;

        .img_container{
            position: absolute;
            inset:0;
            transform: scaleX(2)scaleY(2);
            transition: transform .5s ease-in-out;
            overflow: hidden;

            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        .video_container{
            position: absolute;
            inset:0;
            transform: scaleX(2)scaleY(2);
            transition: transform .5s ease-in-out;
            
            video{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
    .my-video-dimensions{
        height:100%;
        width: 100%;
    }
}

.matrixSection-video{
    position:relative;
    height:100vh;

    .container{

        position:absolute;
        inset:0;
        transform: scaleX(0.5)scaleY(0.5);
        overflow: hidden;
        transition: transform .5s ease-in-out;
        border-radius:15px;

        .video_container{
            position: absolute;
            inset:0;
            transform: scaleX(2)scaleY(2);
            transition: transform .5s ease-in-out;
            
            video{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
    .my-video-dimensions{
        height:100%;
        width: 100%;
    }
}