@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --container: 1250px;

    --color-white: #FFFFFF;
    --color-grey-1: #F8FBFA;
    --color-black: #000000;
    --color-primary: #008A83;
    --color-secondary: #FFCF00;

    --font-level-h1: clamp(1.875rem, -0.0833rem + 6.2667vw, 4.8125rem); //30-77px 500-1250
    --font-level-h2: clamp(1.25rem, 0.4167rem + 2.6667vw, 2.5rem); // 20-40px 500-1250
    --font-level-h3: clamp(1.125rem, 0.5rem + 2vw, 2.0625rem); // 18-33px 500-1250
    --font-level-h4: clamp(1.0625rem, 0.7292rem + 1.0667vw, 1.5625rem); // 17-25px 500-1250
    --font-level-tag: clamp(0.75rem, 0.4167rem + 1.0667vw, 1.25rem); // 12-20px 500-1250
    --font-level-p: clamp(0.9375rem, 0.6066rem + 0.5882vw, 1.0625rem);// 16-17px 500-1250
    --font-level-subtitle: clamp(1.25rem, 0.4228rem + 1.4706vw, 1.5625rem); // 25px 900-1230

    --font-level-button : 1rem;
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
}

// reset & global
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.spacing{
    height:100vh;
    background-color: grey;
}
.container{
    max-width: var(--container);
    margin: 0 auto;
}

// fonts
h1{
    font-family: var(--font-poppins);
    font-size: var(--font-level-h1);
    line-height: normal;
    font-weight:700;
}
h2{
    font-family: var(--font-poppins);
    font-size: var(--font-level-h2);
    line-height: normal;
    font-weight:700;
}
h4{
    font-family: var(--font-poppins);
    font-size: var(--font-level-h4);
    line-height: normal;
    font-weight: 600;
}
p{
    font-family: var(--font-inter);
    font-size: var(--font-level-p);
    line-height: normal;
    font-weight:300;
}
.subtitle{
    @extend h4; 
}


.btn-primary{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-primary);
    font-family: var(--font-poppins);
    font-size: var(--font-level-button);
    color: var(--color-white);
    font-weight:600;
    padding: 11px 25px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out, padding .2s ease-in-out;

    &:hover{
        background-color: var(--color-white);
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
    }

}

.btn-secondary{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-secondary);
    font-family: var(--font-poppins);
    font-size: var(--font-level-button);
    color: var(--color-black);
    font-weight:600;
    padding: 11px 25px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out, padding .2s ease-in-out;

    &:hover{
        background-color: var(--color-white);
        border: 2px solid var(--color-secondary);
        color: var(--color-black);
    }
}

.cursor {
    display: grid;
    position: fixed;
    z-index: 99993;
    align-items: center;
    pointer-events: none;
    justify-items: center;
  
    .button-play {
      position: relative;
      transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
      opacity: 0;
    img{
        width: 80px;
        height: 80px;
    }
    }
    &.active{
        cursor:none !important;
        .button-play{
            opacity:1;
        }
    }
}  