@import "../global.css";
.product-section {
  container-type: inline-size;
}
.product-section .product-wrapper-top {
  background-color: black;
  height: 45cqw;
}
@media (min-width: 576px) {
  .product-section .product-wrapper-top {
    height: 33cqw;
  }
}
@media (min-width: 1025px) {
  .product-section .product-wrapper-top {
    height: 28cqw;
    max-height: 750px;
  }
}
.product-section .product-wrapper-top .product-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.7cqw 2cqw;
  gap: 10px;
}
.product-section .product-wrapper-top .product-container-title .subtitle {
  color: white;
}
.product-section .product-wrapper-top .product-container-title .title {
  color: white;
  text-align: center;
}
.product-section .product-wrapper-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -10cqw;
}
@media (min-width: 1025px) {
  .product-section .product-wrapper-bottom {
    flex-direction: row;
  }
}
.product-section .product-wrapper-bottom .product-container {
  container-type: inline-size;
  background: var(--color-grey-1);
  border-radius: 30px;
  width: 95cqw;
  max-width: 900px;
}
@media (min-width: 576px) {
  .product-section .product-wrapper-bottom .product-container {
    max-width: 605px;
    width: 75cqw;
  }
}
@media (min-width: 1025px) {
  .product-section .product-wrapper-bottom .product-container {
    max-width: 605px;
    width: 38cqw;
  }
}
.product-section .product-wrapper-bottom .product-container .product-content {
  padding: 5cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .img-container {
  aspect-ratio: 556/284;
  overflow: hidden;
}
.product-section .product-wrapper-bottom .product-container .product-content .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .product-wrapper-bottom .product-container .product-content .tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2cqw 0;
}
.product-section .product-wrapper-bottom .product-container .product-content .tag-container .tags {
  font-size: var(--font-level-tag);
  font-family: var(--font-poppins);
  font-weight: 600;
}
.product-section .product-wrapper-bottom .product-container .product-content .tag-container .madeinfrance {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-family: var(--font-inter);
}
.product-section .product-wrapper-bottom .product-container .product-content .text-container .product-title {
  margin: 2cqw 0;
  text-transform: uppercase;
  font-size: 4.2cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .text-container .product-text {
  font-weight: 500;
  font-size: 3cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container {
  display: flex;
  gap: 4cqw;
  margin: 4cqw 0;
}
.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item {
  font-family: var(--font-inter);
  font-size: var(--font-level-p);
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item img {
  width: auto;
  max-height: 10cqw;
  height: auto;
}
.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item .reassurance-text {
  font-size: 3cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item .reassurance-text span {
  display: block;
  font-weight: 700;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container {
  background-color: white;
  padding: 3cqw;
  border-radius: 30px;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .note {
  color: var(--color-primary);
  font-style: italic;
  font-family: var(--font-poppins);
  font-weight: 400;
  margin-bottom: 3cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items {
  display: flex;
  justify-content: space-between;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item {
  position: relative;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-subtitle {
  position: absolute;
  top: -3cqw;
  left: 0;
  font-size: 2.5cqw;
  font-family: var(--font-poppins);
  font-weight: 300;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-title {
  font-size: 3cqw;
  font-family: var(--font-poppins);
  font-weight: 600;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-note {
  font-family: var(--font-inter);
  font-weight: 700;
  color: var(--color-primary);
  font-size: 5.5cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-intrapaginal {
  font-family: var(--font-inter);
  font-size: 2.5cqw;
}
.product-section .product-wrapper-bottom .product-container .product-content .cat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5cqw 0;
}/*# sourceMappingURL=style.css.map */