
.bg_white_transition {
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.vm_popup_wrapper {
  position: absolute;
  inset: 0;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;

  .vm_popup_inner {
    position: absolute;
    width: 120cqh;
    
    height: auto;


    .vm_popup_top{
        position:relative;
        container-type: inline-size;
        position: relative;


        .title_wrapper{
            position:absolute;
            bottom: -13%;
            z-index:3;
            .title_box{
                overflow: hidden;

                .title{
                    font-size: 10cqw;
                    transform: translateY(100%)
                }
            }
        }
        .vm_popup_img_container{
            overflow: hidden;
            .vm_popup_img{
                transform: scale(1.15);
                aspect-ratio: 266 / 131;
                object-fit: cover;
            }
            .vm_popup_img_cache{
                position: absolute;
                inset:0;
                background-color: white;
                transform: translateY(0%);
                z-index:2;
            }
        }
    }
    .vm_popup_bottom {
      margin-top: 100px;

      .gallery_grid {
        // display: grid;
        // grid-template-rows: auto;
        // grid-template-columns: repeat(5, 1fr);
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;
        // grid-auto-columns: 1fr;
        display: flex;
        justify-content: center;
        gap: 10px;

        .gallery_item {
            opacity:0.5;
            &.active{
                opacity:1;

            }
          img {
            width: 100%;
            max-width: 266px;
            height: 100%;
            aspect-ratio: 266 / 131;
            object-fit: cover;
          }
        }
      }
    }
  }
  .close{
    position:fixed;
    right:4%;
    top:2%;
    font-size:30px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
  }
}
