@import "../global.css";
@import "../hero/style.css";
section.title_section {
  padding: 8rem 1rem;
}
section.title_section .title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
section.title_section .title_wrapper .subtitle {
  color: var(--color-primary);
}

section.cards-engagement {
  max-width: var(--container);
  margin: 0 auto;
  padding: 2rem 1rem;
}
section.cards-engagement .cards_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(0, 320px));
  grid-gap: 30px;
  height: 100%;
}
@media (min-width: 576px) {
  section.cards-engagement .cards_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 320px) minmax(0, 320px);
  }
}
@media (min-width: 1000px) {
  section.cards-engagement .cards_grid {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    grid-template-rows: minmax(0, 320px) minmax(0, 320px);
  }
}
section.cards-engagement .card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  container-type: inline-size;
}
section.cards-engagement .card .content_wrapper {
  position: absolute;
  padding: 2rem;
  z-index: 2;
}
section.cards-engagement .card .content_wrapper h4 {
  color: var(--color-white);
}
section.cards-engagement .card .content_wrapper p {
  color: var(--color-white);
}
section.cards-engagement .card .cross_wrapper {
  position: absolute;
  z-index: 2;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  transition: background-color 0.2s ease-in-out;
}
section.cards-engagement .card .cross_wrapper svg {
  fill: black;
  transition: fill 0.2s ease-in-out;
}
section.cards-engagement .card:nth-child(1) {
  grid-area: 1/1/2/2;
  transform: translateY(100px);
}
section.cards-engagement .card:nth-child(1) .content_wrapper {
  bottom: 0;
  max-width: 70%;
}
section.cards-engagement .card:nth-child(2) {
  grid-area: 2/1/3/2;
  transform: translateY(300px);
}
section.cards-engagement .card:nth-child(2) .content_wrapper {
  top: 0;
  max-width: 90%;
}
section.cards-engagement .card:nth-child(3) {
  grid-area: 3/1/4/2;
}
section.cards-engagement .card:nth-child(3) .content_wrapper {
  bottom: 0;
  max-width: 85%;
}
section.cards-engagement .card:nth-child(4) {
  grid-area: 4/1/5/2;
  transform: translateY(300px);
}
section.cards-engagement .card:nth-child(4) .content_wrapper {
  bottom: 0;
  max-width: 85%;
}
@media (min-width: 576px) {
  section.cards-engagement .card:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  section.cards-engagement .card:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  section.cards-engagement .card:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  section.cards-engagement .card:nth-child(4) {
    grid-area: 2/2/3/3;
  }
}
@media (min-width: 1000px) {
  section.cards-engagement .card:nth-child(1) {
    grid-area: 1/1/3/2;
  }
  section.cards-engagement .card:nth-child(2) {
    grid-area: 1/2/3/3;
  }
  section.cards-engagement .card:nth-child(3) {
    grid-area: 1/3/2/4;
  }
  section.cards-engagement .card:nth-child(4) {
    grid-area: 2/3/3/4;
  }
}
section.cards-engagement .card::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  inset: 0;
  z-index: 1;
  border-radius: 15px;
  border: 0px solid var(--color-yellow);
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
section.cards-engagement .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
section.cards-engagement .card:hover::after {
  border: 5px solid var(--color-secondary);
  background-color: rgba(0, 0, 0, 0.3);
}
section.cards-engagement .card:hover .cross_wrapper {
  background-color: var(--color-secondary);
}

.video-clip-section {
  position: relative;
  height: 100vh;
}
.video-clip-section .video-clip-container {
  position: absolute;
  inset: 0;
  transform: scaleX(0.5) scaleY(0.5);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  border-radius: 15px;
}
.video-clip-section .video-clip-container .video_container {
  position: absolute;
  inset: 0;
  transform: scaleX(2) scaleY(2);
  transition: transform 0.5s ease-in-out;
}
.video-clip-section .video-clip-container .video_container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-clip-section .popup-video-wrapper {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}
.video-clip-section .popup-video-wrapper .close-popup-video {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.video-clip-section .popup-video-wrapper .video_container {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.video-clip-section .popup-video-wrapper .video_container video {
  -o-object-fit: cover;
     object-fit: cover;
}
.video-clip-section .my-video-dimensions {
  height: 100%;
  width: 100%;
}

section.testimonial_section .testimonial_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
section.testimonial_section .testimonial_wrapper .testimonial_img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  transform: scale(2);
  transform-origin: center center;
  z-index: -1;
}
section.testimonial_section .testimonial_wrapper .mask {
  position: absolute;
  z-index: 1;
}
section.testimonial_section .testimonial_wrapper .mask__left {
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .mask__top {
  height: 30%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(180deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .mask__right {
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  background-image: linear-gradient(-90deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .mask__bottom {
  height: 30%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(0deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc .pretitle-1 {
  font-size: 14px;
  font-family: var(--font-inter);
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc .title {
  font-size: 40px;
  font-family: var(--font-inter);
  text-align: center;
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc .title strong {
  font-size: 55px;
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc a.btn-primary {
  margin-top: 40px;
}

section.product-section {
  container-type: inline-size;
}
section.product-section .product-wrapper-top {
  background-image: url("./assets/background-products.png");
  background-repeat: none;
  background-size: cover;
  height: 45cqw;
}
@media (min-width: 576px) {
  section.product-section .product-wrapper-top {
    height: 33cqw;
  }
}
@media (min-width: 1025px) {
  section.product-section .product-wrapper-top {
    height: 28cqw;
    max-height: 750px;
  }
}
section.product-section .product-wrapper-top .product-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.7cqw 2cqw;
  gap: 10px;
}
section.product-section .product-wrapper-top .product-container-title .box {
  overflow: hidden;
}
section.product-section .product-wrapper-top .product-container-title .subtitle {
  color: white;
  transform: translateY(100%);
}
section.product-section .product-wrapper-top .product-container-title .title {
  color: white;
  text-align: center;
  --underline-width: 0%;
  transform: translateY(100%);
}
section.product-section .product-wrapper-top .product-container-title .title span {
  position: relative;
}
section.product-section .product-wrapper-top .product-container-title .title span::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: var(--color-secondary);
  height: 3px;
  width: var(--underline-width);
}
section.product-section .product-wrapper-bottom {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -10cqw;
}
@media (min-width: 1025px) {
  section.product-section .product-wrapper-bottom {
    flex-direction: row;
  }
}
section.product-section .product-wrapper-bottom .product-container {
  container-type: inline-size;
  background: var(--color-grey-1);
  border-radius: 30px;
  width: 95cqw;
  max-width: 900px;
  transform: translateY(10%);
  opacity: 0;
}
section.product-section .product-wrapper-bottom .product-container:nth-child(2) {
  transform: translateY(10%);
}
@media (min-width: 576px) {
  section.product-section .product-wrapper-bottom .product-container {
    max-width: 605px;
    width: 75cqw;
  }
}
@media (min-width: 1025px) {
  section.product-section .product-wrapper-bottom .product-container {
    max-width: 605px;
    width: 38cqw;
  }
}
section.product-section .product-wrapper-bottom .product-container .product-content {
  padding: 5cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .img-container {
  aspect-ratio: 556/284;
  overflow: hidden;
}
section.product-section .product-wrapper-bottom .product-container .product-content .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.product-section .product-wrapper-bottom .product-container .product-content .tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2cqw 0;
}
section.product-section .product-wrapper-bottom .product-container .product-content .tag-container .tags {
  font-size: var(--font-level-tag);
  font-family: var(--font-poppins);
  font-weight: 600;
}
section.product-section .product-wrapper-bottom .product-container .product-content .tag-container .madeinfrance {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-family: var(--font-inter);
}
section.product-section .product-wrapper-bottom .product-container .product-content .text-container .product-title {
  margin: 2cqw 0;
  text-transform: uppercase;
  font-size: 4.2cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .text-container .product-text {
  font-weight: 500;
  font-size: 3cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container {
  display: flex;
  gap: 4cqw;
  margin: 4cqw 0;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item {
  font-family: var(--font-inter);
  font-size: var(--font-level-p);
  display: flex;
  align-items: center;
  gap: 10px;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item img {
  width: auto;
  max-height: 10cqw;
  height: auto;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item .reassurance-text {
  font-size: 3cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item .reassurance-text span {
  display: block;
  font-weight: 700;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container {
  background-color: white;
  padding: 3cqw;
  border-radius: 30px;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .note {
  color: var(--color-primary);
  font-style: italic;
  font-family: var(--font-poppins);
  font-weight: 400;
  margin-bottom: 3cqw;
  font-size: 3cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items {
  display: flex;
  justify-content: space-between;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item {
  position: relative;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-subtitle {
  position: absolute;
  top: -3cqw;
  left: 0;
  font-size: 2.5cqw;
  font-family: var(--font-poppins);
  font-weight: 300;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-title {
  font-size: 3cqw;
  font-family: var(--font-poppins);
  font-weight: 600;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-note {
  font-family: var(--font-inter);
  font-weight: 700;
  color: var(--color-primary);
  font-size: 5.5cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-intrapaginal {
  font-family: var(--font-inter);
  font-size: 2.5cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .cat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5cqw 0;
}

section.product-details {
  padding: 100px 0;
}
section.product-details .product-details-wrapper {
  position: relative;
  container-type: inline-size;
  max-width: 1540px;
  margin: 0 auto;
}
section.product-details .product-details-wrapper .image-container img {
  width: 100%;
  height: 100%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt {
  position: absolute;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt::before, section.product-details .product-details-wrapper .bullets-container .bullet-cpt::after {
  position: absolute;
  content: "";
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt .bullet {
  height: 2cqw;
  width: 2cqw;
  background-color: var(--color-secondary);
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt .bullet.pulsar:after {
  content: "";
  left: -50%;
  top: -50%;
  border-radius: 50%;
  height: 4cqw;
  width: 4cqw;
  position: absolute;
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px var(--color-secondary);
  animation-delay: 0.1s;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-1 {
  --line-horizontal: 13cqw;
  --line-vertical: 3.3cqw;
  --line-vertical-translate: -3.3cqw;
  left: 63%;
  top: 37%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-1::before {
  top: 50%;
  width: var(--line-horizontal);
  height: 2px;
  background-color: var(--color-secondary);
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-1::after {
  top: 50%;
  width: 2px;
  height: var(--line-vertical);
  transform: translateX(12.8cqw) translateY(var(--line-vertical-translate));
  background-color: var(--color-secondary);
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-2 {
  --line-horizontal: 13cqw;
  --line-vertical: 3.3cqw;
  --line-vertical-translate: 0cqw;
  left: 77%;
  top: 64%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-2::before {
  top: 50%;
  width: var(--line-horizontal);
  height: 2px;
  background-color: var(--color-secondary);
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-2::after {
  top: 50%;
  width: 2px;
  height: var(--line-vertical);
  transform: translateX(12.8cqw) translateY(var(--line-vertical-translate));
  background-color: var(--color-secondary);
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-3 {
  --line-vertical: 9.3cqw;
  left: 68%;
  top: 65%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-3::before {
  top: 50%;
  left: 50%;
  width: 2px;
  height: var(--line-vertical);
  background-color: var(--color-secondary);
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-4 {
  --line-vertical: 9.3cqw;
  left: 41%;
  top: 68%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-4::before {
  top: 50%;
  left: 50%;
  width: 2px;
  height: var(--line-vertical);
  background-color: var(--color-secondary);
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-5 {
  --line-horizontal: 14.3cqw;
  --line-horizontal-translate: -14.3cqw;
  left: 33%;
  top: 40%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-5::before {
  top: 50%;
  left: 50%;
  width: var(--line-horizontal);
  height: 2px;
  background-color: var(--color-secondary);
  transform: translateX(var(--line-horizontal-translate));
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-6 {
  --line-vertical: 9.3cqw;
  --line-vertical-translate: -9.3cqw;
  left: 51%;
  top: 37%;
}
section.product-details .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-6::before {
  top: 50%;
  left: 50%;
  width: 2px;
  height: var(--line-vertical);
  background-color: var(--color-secondary);
  transform: translateY(var(--line-vertical-translate));
}
section.product-details .product-details-wrapper .bullets-container .content-cpt {
  position: absolute;
  min-width: 200px;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt .number-container {
  color: var(--color-primary);
  font-weight: bold;
  font-family: var(--font-poppins);
  display: flex;
  gap: 5px;
  justify-content: center;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt .number-container .number {
  font-size: 2cqw;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt .number-container .number span {
  font-size: 3.2cqw;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt .number-container .icone {
  margin-top: 1.6cqw;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt .number-container .icone img {
  height: 2cqw;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt .paragraphe-container p {
  text-align: center;
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 1.2;
}
section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-1 {
  top: -13cqw;
  right: -21.6cqw;
}
@media (min-width: 1100px) {
  section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-1 {
    top: -12cqw;
    right: -18.6cqw;
  }
}
section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-2 {
  top: 6cqw;
  right: -20.6cqw;
}
@media (min-width: 1100px) {
  section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-2 {
    top: 5cqw;
    right: -17.6cqw;
  }
}
section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-3 {
  top: 12cqw;
  right: -8.6cqw;
}
@media (min-width: 1100px) {
  section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-3 {
    top: 11cqw;
    right: -5.6cqw;
  }
}
section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-4 {
  top: 12cqw;
  right: -9.6cqw;
}
@media (min-width: 1100px) {
  section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-4 {
    top: 11cqw;
    right: -5.6cqw;
  }
}
section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-5 {
  top: -6cqw;
  right: 15.4cqw;
}
@media (min-width: 1100px) {
  section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-5 {
    top: -5cqw;
    right: 16.4cqw;
  }
}
section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-6 {
  top: -19cqw;
  right: -9.6cqw;
}
@media (min-width: 1100px) {
  section.product-details .product-details-wrapper .bullets-container .content-cpt.content-cpt-6 {
    top: -17cqw;
    right: -6.6cqw;
  }
}

section.product-details.mobile .product-details-wrapper .bullets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt::before, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt::after {
  display: none;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt .bullet {
  height: 2cqw;
  width: 2cqw;
  position: absolute;
  top: 5cqw;
  left: 5cqw;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt .bullet.pulsar:after {
  height: 4cqw;
  width: 4cqw;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-1, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-3, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-4, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-5, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-6, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-2 {
  left: auto;
  top: auto;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-1::before, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-3::before, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-4::before, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-5::before, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-6::before, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-2::before {
  display: none;
}
section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-1::after, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-3::after, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-4::after, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-5::after, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-6::after, section.product-details.mobile .product-details-wrapper .bullets-container .bullet-cpt.bullet-cpt-2::after {
  display: none;
}
section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt {
  position: relative;
  min-width: auto;
}
section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt .number-container .number {
  font-size: 7.2cqw;
}
section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt .number-container .number span {
  font-size: 8.2cqw;
}
section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt .number-container .icone {
  margin-top: 3.6cqw;
}
section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt .number-container .icone img {
  height: 5.2cqw;
}
section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt.content-cpt-1, section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt.content-cpt-2, section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt.content-cpt-3, section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt.content-cpt-4, section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt.content-cpt-5, section.product-details.mobile .product-details-wrapper .bullets-container .content-cpt.content-cpt-6 {
  top: 0;
  right: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */