@import "../global.css";
@import "../hero/style.css";
section.title_section {
  padding: 8rem 1rem;
}
section.title_section .title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
section.title_section .title_wrapper .subtitle {
  color: var(--color-primary);
}

section.cards-engagement {
  max-width: var(--container);
  margin: 0 auto;
  padding: 2rem 1rem;
}
section.cards-engagement .cards_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(0, 320px));
  grid-gap: 30px;
  height: 100%;
}
@media (min-width: 576px) {
  section.cards-engagement .cards_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 320px) minmax(0, 320px);
  }
}
@media (min-width: 1000px) {
  section.cards-engagement .cards_grid {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    grid-template-rows: minmax(0, 320px) minmax(0, 320px);
  }
}
section.cards-engagement .card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  container-type: inline-size;
}
section.cards-engagement .card .content_wrapper {
  position: absolute;
  padding: 2rem;
  z-index: 2;
}
section.cards-engagement .card .content_wrapper h4 {
  color: var(--color-white);
}
section.cards-engagement .card .content_wrapper p {
  color: var(--color-white);
}
section.cards-engagement .card .cross_wrapper {
  position: absolute;
  z-index: 2;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  transition: background-color 0.2s ease-in-out;
}
section.cards-engagement .card .cross_wrapper svg {
  fill: black;
  transition: fill 0.2s ease-in-out;
}
section.cards-engagement .card:nth-child(1) {
  grid-area: 1/1/2/2;
  transform: translateY(100px);
}
section.cards-engagement .card:nth-child(1) .content_wrapper {
  bottom: 0;
  max-width: 70%;
}
section.cards-engagement .card:nth-child(2) {
  grid-area: 2/1/3/2;
  transform: translateY(300px);
}
section.cards-engagement .card:nth-child(2) .content_wrapper {
  top: 0;
  max-width: 90%;
}
section.cards-engagement .card:nth-child(3) {
  grid-area: 3/1/4/2;
}
section.cards-engagement .card:nth-child(3) .content_wrapper {
  bottom: 0;
  max-width: 85%;
}
section.cards-engagement .card:nth-child(4) {
  grid-area: 4/1/5/2;
  transform: translateY(300px);
}
section.cards-engagement .card:nth-child(4) .content_wrapper {
  bottom: 0;
  max-width: 85%;
}
@media (min-width: 576px) {
  section.cards-engagement .card:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  section.cards-engagement .card:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  section.cards-engagement .card:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  section.cards-engagement .card:nth-child(4) {
    grid-area: 2/2/3/3;
  }
}
@media (min-width: 1000px) {
  section.cards-engagement .card:nth-child(1) {
    grid-area: 1/1/3/2;
  }
  section.cards-engagement .card:nth-child(2) {
    grid-area: 1/2/3/3;
  }
  section.cards-engagement .card:nth-child(3) {
    grid-area: 1/3/2/4;
  }
  section.cards-engagement .card:nth-child(4) {
    grid-area: 2/3/3/4;
  }
}
section.cards-engagement .card::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  inset: 0;
  z-index: 1;
  border-radius: 15px;
  border: 0px solid var(--color-yellow);
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
section.cards-engagement .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
section.cards-engagement .card:hover::after {
  border: 5px solid var(--color-secondary);
  background-color: rgba(0, 0, 0, 0.3);
}
section.cards-engagement .card:hover .cross_wrapper {
  background-color: var(--color-secondary);
}

section.video-clip-section {
  position: relative;
  height: 100vh;
}
section.video-clip-section .video-clip-container {
  position: absolute;
  inset: 0;
  transform: scaleX(0.5) scaleY(0.5);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  border-radius: 15px;
}
section.video-clip-section .video-clip-container .video_container {
  position: absolute;
  inset: 0;
  transform: scaleX(2) scaleY(2);
  transition: transform 0.5s ease-in-out;
}
section.video-clip-section .video-clip-container .video_container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.video-clip-section .my-video-dimensions {
  height: 100%;
  width: 100%;
}

section.testimonial_section .testimonial_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
section.testimonial_section .testimonial_wrapper .testimonial_img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  transform: scale(2);
  transform-origin: center center;
  z-index: -1;
}
section.testimonial_section .testimonial_wrapper .mask {
  position: absolute;
  z-index: 1;
}
section.testimonial_section .testimonial_wrapper .mask__left {
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .mask__top {
  height: 30%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(180deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .mask__right {
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  background-image: linear-gradient(-90deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .mask__bottom {
  height: 30%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(0deg, #f5f5f5, hsla(0, 0%, 96%, 0));
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc .pretitle-1 {
  font-size: 14px;
  font-family: var(--font-inter);
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc .title {
  font-size: 40px;
  font-family: var(--font-inter);
  text-align: center;
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc .title strong {
  font-size: 55px;
}
section.testimonial_section .testimonial_wrapper .testimonial_container .testimonial_bloc a.btn-primary {
  margin-top: 40px;
}

section.product-section {
  container-type: inline-size;
}
section.product-section .product-wrapper-top {
  background-image: url("./assets/background-products.png");
  background-repeat: none;
  background-size: cover;
  height: 45cqw;
}
@media (min-width: 576px) {
  section.product-section .product-wrapper-top {
    height: 33cqw;
  }
}
@media (min-width: 1025px) {
  section.product-section .product-wrapper-top {
    height: 28cqw;
    max-height: 750px;
  }
}
section.product-section .product-wrapper-top .product-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.7cqw 2cqw;
  gap: 10px;
}
section.product-section .product-wrapper-top .product-container-title .box {
  overflow: hidden;
}
section.product-section .product-wrapper-top .product-container-title .subtitle {
  color: white;
  transform: translateY(100%);
}
section.product-section .product-wrapper-top .product-container-title .title {
  color: white;
  text-align: center;
  --underline-width:0%;
  transform: translateY(100%);
}
section.product-section .product-wrapper-top .product-container-title .title span {
  position: relative;
}
section.product-section .product-wrapper-top .product-container-title .title span::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: var(--color-secondary);
  height: 3px;
  width: var(--underline-width);
}
section.product-section .product-wrapper-bottom {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -10cqw;
}
@media (min-width: 1025px) {
  section.product-section .product-wrapper-bottom {
    flex-direction: row;
  }
}
section.product-section .product-wrapper-bottom .product-container {
  container-type: inline-size;
  background: var(--color-grey-1);
  border-radius: 30px;
  width: 95cqw;
  max-width: 900px;
  transform: translateY(10%);
  opacity: 0;
}
section.product-section .product-wrapper-bottom .product-container:nth-child(2) {
  transform: translateY(10%);
}
@media (min-width: 576px) {
  section.product-section .product-wrapper-bottom .product-container {
    max-width: 605px;
    width: 75cqw;
  }
}
@media (min-width: 1025px) {
  section.product-section .product-wrapper-bottom .product-container {
    max-width: 605px;
    width: 38cqw;
  }
}
section.product-section .product-wrapper-bottom .product-container .product-content {
  padding: 5cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .img-container {
  aspect-ratio: 556/284;
  overflow: hidden;
}
section.product-section .product-wrapper-bottom .product-container .product-content .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.product-section .product-wrapper-bottom .product-container .product-content .tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2cqw 0;
}
section.product-section .product-wrapper-bottom .product-container .product-content .tag-container .tags {
  font-size: var(--font-level-tag);
  font-family: var(--font-poppins);
  font-weight: 600;
}
section.product-section .product-wrapper-bottom .product-container .product-content .tag-container .madeinfrance {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-family: var(--font-inter);
}
section.product-section .product-wrapper-bottom .product-container .product-content .text-container .product-title {
  margin: 2cqw 0;
  text-transform: uppercase;
  font-size: 4.2cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .text-container .product-text {
  font-weight: 500;
  font-size: 3cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container {
  display: flex;
  gap: 4cqw;
  margin: 4cqw 0;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item {
  font-family: var(--font-inter);
  font-size: var(--font-level-p);
  display: flex;
  align-items: center;
  gap: 10px;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item img {
  width: auto;
  max-height: 10cqw;
  height: auto;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item .reassurance-text {
  font-size: 3cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .reassurance-container .reassurance-item .reassurance-text span {
  display: block;
  font-weight: 700;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container {
  background-color: white;
  padding: 3cqw;
  border-radius: 30px;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .note {
  color: var(--color-primary);
  font-style: italic;
  font-family: var(--font-poppins);
  font-weight: 400;
  margin-bottom: 3cqw;
  font-size: 3cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items {
  display: flex;
  justify-content: space-between;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item {
  position: relative;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-subtitle {
  position: absolute;
  top: -3cqw;
  left: 0;
  font-size: 2.5cqw;
  font-family: var(--font-poppins);
  font-weight: 300;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-title {
  font-size: 3cqw;
  font-family: var(--font-poppins);
  font-weight: 600;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-note {
  font-family: var(--font-inter);
  font-weight: 700;
  color: var(--color-primary);
  font-size: 5.5cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .description-container .description-items .item .item-intrapaginal {
  font-family: var(--font-inter);
  font-size: 2.5cqw;
}
section.product-section .product-wrapper-bottom .product-container .product-content .cat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5cqw 0;
}/*# sourceMappingURL=style.css.map */