@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=MonteCarlo&family=Mrs+Saint+Delafield&family=Parisienne&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
header {
  height: 80px;
}
.view_global {
  height: 100vh;
  overflow: hidden;
  main {
    height: 100%;

    .wrapper {
      height: 100%;
      .content_grid {
        display: grid;
        grid-template-columns: 42% 58%;
        height: 100%;
        .looks_wrapper {
          padding: 45px;
          background-color: #798981;
          .looks_grid {
            display: grid;
            grid-template-columns: (repeat(7, 1fr));

            .look_miniature {
              cursor: pointer;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 108/233;
              }
              &.active {
                &::before {
                  content: "";
                  position: absolute;
                  inset: 0;
                  border: 1px solid black;
                  pointer-events: none;
                  z-index: 2;
                }
              }
            }
          }
        }

        .highlight_wrapper {
          height: 100%;
          .look_wrapper {
            display:none;
            position: relative;
            padding-left: 13%;
            padding-top: 4%;
            height: 100%;
            &.visible{
                display: block;
            }
            .look_container {
              height: 80vh;
              max-width: 580px;
              position: relative;

              .img_container {
                height: 100%;
                max-width: 580px;
                aspect-ratio: 580/830;
                container-type: inline-size;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  aspect-ratio: 580/830;
                }
              }
              .text_content {
                position: absolute;
                top: 0;
                right: -19cqw;

                .title {
                  font-size: 8cqw;
                }
                .subtitle {
                  font-size: 7cqw;
                  margin-bottom: 50px;
                }
                .details-bloc {
                  margin-top: 20px;
                  .ref {
                    font-size: 3cqw;
                    font-weight: 200;
                  }
                  .type {
                    font-size: 3cqw;
                    font-weight: 500;
                  }
                  .categorie,
                  .color {
                    font-size: 3cqw;
                    font-weight: 300;
                  }
                }
              }
            }
          }
          .vm_wrapper{
            display: none;
            padding-left:80px;
            &.visible{
                display: block;
            }
            .vm_grid{
                display: grid;
                grid-template-columns: minmax(144px, 0.2fr) 1fr;
                
                gap:20px;

                .vm_gallery{
                    
                    .gallery_item{
                        cursor: pointer;
                        position: relative;
                        display: flex;
                        margin-bottom:10px;
                        img{
                            width:100%;
                            height:100%;
                            object-fit: cover;
                            aspect-ratio:144/71;
                            
                        }
                        &::before{
                            content:"";
                            position: absolute;
                            inset:0;
                            background-color: rgba(0,0,0,.5);
                            z-index:2;
                        }
                        &.active{
                            &::before{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
            .vm_content{
                height: 80vh;
                max-width: 739px;
                position: relative;
                .img_container {
                    height: 100%;
                    max-width: 739px;
                    aspect-ratio: 739/830;
                    container-type: inline-size;
                    img {
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                      aspect-ratio: 739/830;
                    }
                  }
            }
          }
        }
      }
      .switch-button {
        position: absolute;
        top: 0;
        right: 10%;
      }
    }
  }
}
