$full-height: 2;
$half-height: 1;

.universe-wrapper {
    // background-color: rgb(224, 224, 224);
    min-height:100vh;
    max-width:1640px;
    margin: 0 auto;
    .universe-filter{
        padding:20px 0;
        margin:0 10px;

        button{
            background-color: transparent;
            border: none;
            font-size: 20px;
            transition:all .2s ease-in-out;
            font-family: 'Space Grotesk', sans-serif;
            &:hover{
                color:grey
            }
        }
    }

    .universe-row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap:10px;
        margin:10px;

        .img-container{
            overflow: hidden;   

            img{
                height:100%;
                width: 100%;
                aspect-ratio:1/1;
                object-fit: cover;
                object-position: center;
                transform: scale(1.1) !important;
                transition: transform .5s ease-in-out, filter 1s ease-in-out;
                // filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(8deg) brightness(88%) contrast(110%);
                &:hover{
                    transform: scale(1) !important;
                    filter: none;
                }
            } 
            &.hidden{
                display:none;
            }
        }
    }
}
