.title{
    font-family: 'Libre Caslon Text', serif;
}

p{
    font-family: 'Poppins', sans-serif;
}


.container{
    display:flex;
    gap:20px;
}
.container-video{
flex:55%;
height:600px;
width:700px;
overflow:hidden;
position:relative;
}
.container-video video{
    height:auto;
    width: 100%;
}
.container-text{
    flex:45%;
}

.cache1-image__container-video{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background-color:white;
    z-index:10;
}
.cache2-image__container-video{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background-color:#f4f3f1;
    z-index:9;
}


/* TEXT */
.title-split{
    font-size:42px;
    font-family: 'Libre Caslon Text', serif;
}
.subtitle-split{
    font-size:18px;
    font-family: 'Poppins', sans-serif;
}

.chapter-split, .chapter2-split{
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

.para-split, .para2-split{
    letter-spacing: 2px;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
}


.title-split .line .underline{
    height:2px;
    background-color: black;
}
.chapter-split .line .underline,
.chapter2-split .line .underline{
    height:2px;
    background-color: black;
}
.subtitle-split .line .underline{
    height:2px;
    background-color: black;
}

/*MISE EN FORME */
.container-text{
    margin:30px;
}
.container-infos{
    margin-top:50px;
}
.chapter-split,.chapter2-split{
    margin: 20px 0;
}