
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{

.first{
    height:100vh;
    background-color: green;
}
.last{
    height:100vh;
    background-color:red;
}
.scroll{
    min-height:100vh;
    height:100%;
    position:relative;
}
.video-container{
    position: sticky;
    top:0;
    width: 100vw;
    height:100vh;
    z-index:0;
    video{
        height:100vh;
        width: 100vw;
        object-fit: cover;
    }
}
.fade-part{
    opacity:1;
    position:absolute;
    top:90%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.text-animation{
    opacity:0;
    font-size:30px;
    color:white;
    font-family: sans-serif;
}
}

.fade-top{
    height:400px;
    position:fixed;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(255,255,255,0.5088410364145659) 83%, rgba(17,138,127,0) 100%);
    z-index:9;
}